<% unless object.errors.full_messages.empty? %>
  <div class="alert alert-danger">
    <%= "#{object.errors.count}個のエラーがあります。" %>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>