<footer class="footer mt-5">
  <small>
    The <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav class="border-top border-secondary">
    <ul class="d-flex justify-content-end list-unstyled">
      <li><%= link_to "About", about_path %></li>
      <li class="pl-1"><%= link_to "Contact", contact_path %></li>
      <li class="pl-1"><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>