<header class="navbar navbar-expand-lg">
  <div class="container">
    <%= link_to('Sample App', root_path, id: 'logo', class: 'navbar-bland') %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><%= link_to('ホーム', root_path , class: 'nav-link') %></li>
        <li class="nav-item"><%= link_to('ヘルプ', help_path, class: 'nav-link') %></li>
        <li class="nav-item"><%= link_to('ログイン', '#', class: 'nav-link') %></li>
      </ul>
    </nav>
  </div>
</header>